@import url(Utility.css);
:root {
  --main: rgb(204, 17, 173);
  --white: white;
  --table1: rgb(82, 82, 82);
  --table2: grey;
  --font: #484848;
  --bfont: rgb(44, 44, 44);
  --orange: rgb(255, 0, 128);
  --light: rgb(246, 243, 243); }

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin: 50px;
  text-decoration: none;
  color: #d4720d; }

body {
  font-family: 'Maven Pro', sans-serif; }

/* Navigation Bar */
.navigation-bar {
  position: fixed;
  padding: 25px 0px;
  width: 100%;
  z-index: 1000; }

.navigation-bar.sticky {
  padding: 10px 0px;
  background-color: black; }

.navigation-bar h1 {
  font-size: 40px;
  color: var(--white); }

.navigation-bar h1 span {
  font-size: 40px;
  color: var(--main); }

.navigation-bar.sticky h1 span {
  color: white;
  transition: all .3s ease; }

.navigation-containt ul li {
  float: left;
  margin-right: 10px;
  list-style: none; }

.navigation-containt li a {
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  transition: all .3s;
  text-transform: uppercase; }

.navigation-containt li a:hover {
  color: var(--orange);
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  transition: all 0.3s; }

.navigation-bar.sticky li a:hover {
  color: #EA2027; }

.navigation-bar .menu-btn {
  color: var(--white);
  font-size: 30px;
  display: none;
  cursor: pointer; }

/* Header Design */
.header {
  background-image: url("Images/bg_header5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; }

.header_containt h1 {
  color: var(--white); }

.header_containt {
  padding-top: 80px;
  padding-bottom: 100px; }

.header_left {
  margin-top: 70px; }

.header_left h2 {
  color: var(--white); }

.header .name {
  font-size: 70px;
  margin-bottom: 15px;
  color: #bdb76e; }

.header_left p {
  font-size: 40px;
  color: #f4f7e8;
  font-weight: 600; }

.h-button {
  padding: 15px 40px;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--white);
  margin-top: 15px;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid var(--white);
  transition: all .5s; }

.h-button:hover {
  background-color: var(--white);
  color: var(--orange);
  border: 2px solid var(--white);
  transition: all .5s;
  font-size: 16px; }

/* AboutUs */
.aboutus .aboutus_containt h1 {
  margin: 20px auto;
  text-align: center;
  color: var(--main);
  font-size: 40px; }

.aboutus .aboutus_containt h1 b {
  color: var(--bfont); }

.aboutus .aboutus_block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.aboutus .aboutus_containt .aboutus_left img {
  width: 70%; }

.aboutus .aboutus_containt .aboutus_left {
  flex-basis: 40%; }

.aboutus .aboutus_containt .aboutus_right {
  flex-basis: 50%;
  /* margin-left: 50px; */ }

.aboutus .aboutus_containt .aboutus_right h2 {
  color: var(--bfont);
  font-weight: 800; }

.aboutus .aboutus_containt .aboutus_right p {
  color: var(--font);
  font-weight: 500; }

.aboutus .aboutus_containt .aboutus_right table {
  width: 100%; }

.aboutus .aboutus_containt .aboutus_right table td {
  color: var(--font);
  font-weight: 500; }

.aboutus .aboutus_containt .aboutus_right table td b {
  color: var(--bfont); }

.aboutus .aboutus_containt .aboutus_right i {
  font-size: 35px;
  margin-right: 10px; }

.aboutus .aboutus_containt .aboutus_right button {
  margin-top: 20px; }

#ab1 {
  color: blue; }

/* Services */
.services {
  background-color: var(--light);
  background-size: cover; }

.services .services_containt h1 {
  color: var(--bfont);
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px; }

.services .services_containt h1 b {
  color: var(--main); }

.services .services_containt .services_block {
  text-align: center;
  text-transform: uppercase;
  flex-wrap: wrap;
  justify-content: space-around; }

.services_containt .services_block .sblocks1 {
  flex-basis: 40%;
  margin: 15px;
  /* height: 300px; */
  text-align: center;
  padding: 0px auto;
  transition: .5s;
  box-shadow: 5px 5px 10px #9c9c9c; }

.services_containt .services_block .sblocks1:hover {
  transform: scale(1.2); }

.services_containt .services_block .sblocks1 div {
  width: 200px;
  height: 100px;
  margin: 0px auto;
  padding-top: 20; }

.services_containt .services_block .sblocks1 i {
  font-size: 40px;
  color: var(--bfont); }

.services_containt .services_block .sblocks1 div p {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 700;
  color: var(--bfont); }

.services_containt .services_block .sblocks1 p {
  margin: 35px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 500;
  color: var(--font);
  font-weight: 600; }

/* Resume */
.resume_containt h1 {
  text-align: center;
  font-size: 40px; }

.resume_containt .education h2 {
  margin: 20px 0px; }

.resume_containt .education table {
  width: 100%;
  text-align: center;
  border-spacing: 0px;
  font-size: 16px;
  color: var(--table); }

.resume_containt h1 {
  color: var(--main); }

.resume_containt .design span, .coding span, p {
  color: var(--font);
  font-weight: 600; }

.resume_containt .education table th {
  padding: 15px 0px;
  color: var(--bfont);
  text-align: center; }

.resume_containt .education table td {
  padding: 15px 0px;
  color: #6f0909;
  font-weight: 500; }

.resume_containt .education table tr {
  background-color: var(--table2); }

.resume_containt .education h2 {
  color: blue; }

.skills h2 {
  margin-top: 45px;
  margin-bottom: 20px;
  color: var(--orange); }

.skills .skills_containt .design, .coding {
  flex-basis: 47%;
  margin: 0px 10px; }

.skills .skills_containt h3 {
  color: darkblue; }

#pro1 {
  background-color: #EA2027 !important;
  color: white;
  font-weight: bold; }

/* Contact */
.contact {
  background-color: var(--light); }

.contact .contact_box1 .contact_header1 {
  text-align: center; }

.contact .contact_box1 .contact_header2 {
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;
  text-align: center;
  flex-wrap: wrap; }

.contact .contact_header2 div {
  margin: 0px 20px;
  margin-top: 50px; }

.contact .contact_box1 .contact_header1 h2 {
  margin: 10px auto;
  color: var(--font);
  font-size: 40px; }

.contact .contact_box1 .contact_header1 span {
  color: var(--main); }

.contact .contact_box2 {
  padding: 50px;
  flex-wrap: wrap; }

.contact .message {
  /* width: 47% */
  flex-basis: 47%; }

.contact .contact_box2 .message {
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 3px black; }

.contact .contact_box2 .message div input {
  width: 100%;
  height: 40px;
  margin: 10px 0px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600; }

.contact .contact_box2 .message div textarea {
  width: 100%;
  margin: 10px 0px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600; }

.contact .contact_box2 .message div h1 {
  margin: 15px 0px; }

.contact .contact_box2 .message button {
  /* position: relative; */
  /* left: 300; */
  margin-top: 20px; }

.contact .contact_box2 .message h1 {
  color: var(--bfont); }

.contact .contact_box2 .map iframe {
  width: 100%;
  height: 85%; }

.contact .contact_box2 .map i {
  font-size: 35px;
  margin-top: 30px;
  /* margin: 30px auto; */
  margin-left: 10px; }

.contact {
  width: 100%;
  padding: 50px 0px; }

/* footer */
footer {
  padding: 15px;
  background-color: #000;
  color: #fff; }

#social {
  float: right;
  font-size: 20px;
  padding-right: 15px; }

/*#top{
	position: fixed;
    bottom: 20px;
    right: 30px;
	padding: 10px;
    background-color: blue;
    color: orange;
	display:none;
} */
/* Responsive */
@media (max-width: 1040px) {
  .contact .message, .map {
    flex-basis: 100%; }

  .contact .map {
    margin-top: 30px; }

  .contact .contact_box2 .map iframe {
    width: 100%;
    height: 400px; } }
@media (max-width: 999px) {
  .services_containt .services_block .sblocks1 {
    flex-basis: 45%; } }
@media (max-width: 940px) {
  .containt {
    max-width: 90%;
    margin: auto auto; }

  .navigation-bar .menu-btn {
    display: block;
    z-index: 999; }

  .navigation-bar .menu-btn i {
    color: var(--white); }

  .navigation-bar .nav {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 100%;
    background: #484848;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s; }

  .navigation-bar .nav.active {
    left: 0; }

  .navigation-bar .nav li {
    text-transform: uppercase;
    float: none;
    display: block; }

  .navigation-bar .nav li a {
    display: inline-block;
    margin-top: 20px;
    font-size: 25; }

  .header .header_left {
    margin-top: 50px;
    flex-basis: 100%; }

  .header .name {
    font-size: 70; }

  .aboutus .aboutus_containt .aboutus_left {
    flex-basis: 100%; }

  .aboutus .aboutus_containt .aboutus_right {
    flex-basis: 100%; }

  .skills .skills_containt .design, .coding {
    flex-basis: 100%; }

  .header_left a:hover, a.active {
    background: none;
    color: #0082e6; }

  #check:checked ~ ul {
    left: 0; } }
@media (max-width: 766px) {
  .services_containt .services_block .sblocks1 {
    flex-basis: 45%; } }
@media (max-width: 666px) {
  .services_containt .services_block .sblocks1 {
    flex-basis: 100%; } }
@media (max-width: 699px) {
  .header .name {
    font-size: 65; } }
@media (max-width: 699px) {
  .header .name {
    font-size: 50px; } }
@media (max-width: 512px) {
  .header .name {
    font-size: 50px; } }
.whatsapp {
  color: green; }

.mail {
  color: red; }

.phone {
  color: #11005f; }

/*# sourceMappingURL=style.css.map */
